<template>
  <div class="flex flex-col justify-center items-center min-h-screen">
    <div>Hi, {{ this.$auth.user.name }}</div>
    <div class="mt-3">
      <button
        type="button"
        @click="logout"
        class="
          inline-flex
          items-center
          px-5
          py-2
          border border-transparent
          text-sm
          leading-4
          font-medium
          rounded-full
          shadow-sm
          bg-blue-400
          text-white
          btn-color
          focus:outline-none
          focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
        "
      >
        Logout
      </button>
    </div>
  </div>
</template>

<style scoped>
</style>

<script>
import Vue from "vue";

export default Vue.extend({
  methods: {
    async logout() {
      await this.$auth.logout();
    },
  },
});
</script>