<template>
  <div
    class="flex justify-center items-center min-h-screen bg-backdrop"
    :style="{'background-image': `url(${require('@/assets/images/bg-id.png')})`}">
    <div class="flex">
      <div class="px-4 py-3 text-white flex justify-center items-center">
        <div class="flex flex-col text-center pr-80">
          <div class="mx-2 my-3">
            <img src="~/assets/images/astronaut.svg" />
          </div>
          <div class="font-chivo font-bold text-5xl mt-2">ASTRONAUT</div>
          <div class="font-dm-sans text-xl mt-2">Your Popcorn’s Soulmate</div>
        </div>
      </div>
      <div class="px-4 py-3 text-white flex justify-center items-center">
        <div class="flex flex-col text-center">
          <div class="px-5">
            <div class="font-chivo font-bold text-2xl">SIGN IN</div>
            <div class="font-dm-sans text-sm mt-3">
              Let’s enjoy your popcorn while you are lay down!
            </div>
          </div>
          <form class="mt-8 font-dm-sans" @submit.prevent="login">

            <div class="w-full text-center bg-red-100">
              <h3 class="text-sm font-medium text-red-800">
                {{ error }}
              </h3>
            </div>

            <div class="form-group relative mt-3">
              <input type="text" id="name" name="username" class="w-full font-dm-sans form-field focus:ring-0" 
              placeholder="Username/Email" autocomplete="username" v-model="form.username">
              <label for="name" class="form-label font-dm-sans">Username/Email</label>
            </div>

            <div class="form-group relative mt-3">
              <input :type="pwdFieldType" id="password" name="password" class="w-full font-dm-sans form-field focus:ring-0" 
              placeholder="Password" autocomplete="current-password" v-model="form.password">
              <label for="password" class="form-label font-dm-sans">Password</label>
              <div class="absolute inset-y-0 right-0 flex items-center">
                <button type="button" @click="tooglevisibility" class="mr-3">
                  <img :src="require(`~/assets/images/${pwdToogleImage}.svg`)" alt="">
                </button>
              </div>
            </div>

            <div class="text-right text-xs mt-3">Forgot Password?</div>

            <div class="mt-3">
              <button type="submit" class="inline-flex items-center px-5 py-2 border border-transparent text-sm leading-4 font-medium rounded-full shadow-sm text-white btn-color focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Sign In
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.bg-backdrop {
  background-color: #15181c;
}
.form-text-color {
  color: #242F4E;
}

.form-field {
  border: 0;
  border-bottom: 3px solid #fff;
  color: #242F4E;
  padding: 18px 5px 8px 10px;
}

.form-field::placeholder {
  color: transparent;
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.75rem;
  color: #9b9b9b;
  padding-left: 10px;
  padding-top: 3px;
}

.form-field:placeholder-shown ~ .form-label {
  font-size: 1rem;
  cursor: text;
  top: 17px;
}

.form-field:focus {
  border: 0;
  border-bottom: 3px solid #377CCC;
}

.form-field:focus-visible {
  outline: unset;
}

.form-field:focus ~ .form-label {
  transition: 0.2s;
}

.btn-color {
  background-color: #2CBAD5;
}

.btn-color:hover {
  background-color: #248ba0;
}
</style>

<script>
import Vue from "vue";

export default Vue.extend({
  data(){
    return {
      form: {
        username:'',
        password:'',
      },
      pwdFieldType: "password",
      pwdToogleImage: 'eye_off',
      error:''
    }
  },
  methods: {
    tooglevisibility() {
      if(this.pwdFieldType === 'password'){
        this.pwdFieldType = 'text';
        this.pwdToogleImage = 'eye';
      }else{
        this.pwdFieldType = 'password';
        this.pwdToogleImage = 'eye_off';
      }
    },

    async login(){
      try {
        await this.$auth.loginWith('local', {
          data: {
          username: this.form.username,
          password: this.form.password
          }
        });

        this.$router.push('/dashboard')
        
      } catch (e) {
        this.error = e.response.data.message;
      }
    },
  }
});
</script>